@import '../../node_modules/bootstrap/scss/bootstrap';
@import '_variables.scss';

$theme-colors: (
  "primary":    $primary,
);

body {
  width: 100vw;
  height: 100vh;
}

#languageSelect {
  width: 120px;
}

#telephoneForm {
  border-color: $primary !important;
}